<div class="container-fluid">
    <h2>Aplicación</h2>
    <p>OLSoftware
        Prueba práctica Front-end senior</p>
</div>
<div class="card ">
    <div class="card-body">
        <h1 class="card-title">Inicio de sesión</h1>

        <form>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Usuario">
            </div>
            <div class="form-group ">
                <input type="password" class="form-control" placeholder="Contraseña">
            </div>
            <button type="submit" class="btn btn-primary btn-block btn-lg">Iniciar sesión</button>
        </form>
    </div>
</div>